body {
	color: white;
	font-size: 1em;
	background-color: black;
	height: 100%;
	width: 100%;
	overflow-y: hidden;

	font-family: "Barlow Condensed", sans-serif;
}
:root {
	--header-height: 50px;
	/* --keyboard-height: 200px; */
	--container-max-width: 500px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	/* border: 1px solid rebeccapurple; */
	width: 100%;
	height: calc(100vh - var(--header-height));
	max-width: var(--container-max-width);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.popup {
	border: 1px solid white;
	text-align: center;
	width: 200px;
	visibility: hidden;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 4px;

	background-color: white;
	color: red;
	border-radius: 10px;
}

.popup span {
}
.grid {
	/* margin: 0 auto; */
	/* border: 1px solid white; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	overflow: hidden;
}

.row {
	/* border: 1px solid red; */
	/* padding: 10px; */
	display: flex;
}

.cell {
	width: 40px;
	margin: 4px;
	height: 40px;
	border: 1px solid rgb(110, 110, 110);
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
}

nav {
	height: var(--header-height);
	border-bottom: 1px solid rgb(82, 81, 81);
	/* border: 1px solid red; */
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}

.title {
	/* background-color: rebeccapurple; */
	font-weight: bold;
	font-size: 2em;
	/* border: 1px solid rebeccapurple; */
	font-family: "Barlow Condensed", sans-serif;
	/* flex: 2; */
	text-align: center;
}
.icons {
	/* border: 1px solid tomato; */
	/* flex-basis: 80px; */
	text-align: center;
}

.container span {
	cursor: pointer;
}

.material-icons:nth-child(2) {
	/* border: 1px solid red; */
	/* margin-left: 10px; */
}

/* KEYBOARD STYLES  */

.keyboard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.keyboard-row {
	/* border: 1px solid yellow; */
	display: flex;
	margin: 0 auto 8px;
	width: 100%;
}

.btn {
	margin: 4px;
	/* border: 1px solid red; */
	border: none;
	border-radius: 4px;
	/* width: 26px; */
	flex: 1;

	/* width: 20%; */
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	height: 58px;
	background-color: rgb(131, 129, 129);
	cursor: pointer;
}

.selected {
	animation-name: popIn;
	animation-duration: 0.3s;
}

@keyframes popIn {
	0% {
		transform: scale(0.8);
	}
	40% {
		transform: scale(1.1);
	}
}

/* INSTRUCTIONS STYLE  */
.help-modal {
	background-color: black;
	/* border: 1px solid red; */
	/* width: 100%; */
	height: calc(100vh - var(--header-height));
	z-index: 5;
	position: absolute;
	visibility: hidden;
}
.content {
	color: white;
	width: 90%;
	margin: 0 auto;
	height: 100vh;
	/* border: 1px solid rgb(40, 37, 219); */
	display: flex;
	align-items: center;
	flex-direction: column;
	/* padding: 10px; */
}
.content-header {
	/* border: 1px solid blue; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
}
.content-header h1 {
	/* border: 1px solid green; */
	line-height: 1.2em;
	flex: 2;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
}

.close-modal {
	/* border: 1px solid red; */
	justify-self: right;
	/* flex: 1; */
	text-align: right;
	font-weight: bold;
	/* margin-right: 20px; */
	cursor: pointer;
}

.content-text {
	/* border: 1px solid blue; */
	width: 90%;
	padding: 10px 0;
	border-bottom: 1px solid grey;
}
.content-text p {
	/* border: 1px solid red; */
	margin-bottom: 14px;
	font-size: 0.9em;
}

.examples {
	/* border: 1px solid yellow; */
	padding-top: 10px;
	width: 90%;
}
.examples h4 {
	/* border: 1px solid red; */
	text-transform: uppercase;
	margin-bottom: 10px;
}

.letters {
	display: flex;
	margin-bottom: 10px;
	/* border: 1px solid green; */
}

.letters span {
	border: 1px solid rgb(193, 193, 194);
	width: 40px;
	height: 40px;
	margin: 2px;
	text-align: center;
	line-height: 40px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
}

.example-one,
.example-two,
.example-three {
	margin-bottom: 20px;
	/* border: 1px solid red; */
}
.example-three {
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
}
.example-one span:first-child {
	background-color: green;
	border: none;
}

.example-two span:nth-child(2) {
	background-color: #c9b458;
	/* border: 1px solid yellow; */
}

.example-three span:nth-child(4) {
	background-color: #86886a;
}

@media only screen and (min-width: 600px) {
	.btn,
	.delete,
	.enter {
		width: 40px;
		height: 58px;
	}
	.cell {
		width: 70px;
		height: 70px;
		line-height: 70px;
	}
	.content {
		width: 100%;
	}
}

.enter,
.delete {
	/* color: rebeccapurple; */
	font-size: 0.5em;

	margin: 4px;
	/* border: 1px solid red; */
	border: none;
	border-radius: 4px;
	/* width: 26px; */
	padding: 2px;

	/* width: 20%; */
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	/* height: 40px; */
	background-color: rgb(131, 129, 129);
	cursor: pointer;
}
