body,
html {
	color: white;
	font-size: 1em;
}

* {
	padding: 0;
	margin: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid {
	padding: 10px;
	margin: 0 auto;
	/* border: 1px solid white; */

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	/* border: 1px solid red; */
	/* padding: 10px; */
	display: flex;
}

.cell {
	width: 60px;
	margin: 4px;
	height: 60px;
	border: 1px solid rgb(110, 110, 110);
}

nav {
	border-bottom: 1px solid rgb(82, 81, 81);
	/* border: 1px solid red; */
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;

	margin-bottom: 10px;
}

.title {
	/* background-color: rebeccapurple; */
	font-weight: bold;
	font-size: 2em;
	/* border: 1px solid rebeccapurple; */
	font-family: "Barlow Condensed", sans-serif;
	flex: 2;
	text-align: center;
}
.icons {
	/* border: 1px solid tomato; */
	flex-basis: 80px;
	text-align: center;
}

.container span {
	cursor: pointer;
}

.material-icons:nth-child(2) {
	/* border: 1px solid red; */
	margin-left: 10px;
}

/* KEYBOARD STYLES  */

.keyboard {
	/* border: 1px solid rebeccapurple; */
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.keyboard-row {
	/* border: 1px solid yellow; */
}

.btn {
	margin: 4px;
	/* border: 1px solid red; */
	border: none;
	border-radius: 4px;
	width: 40px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	height: 50px;
	background-color: rgb(131, 129, 129);
	cursor: pointer;
}

@media only screen and (max-width: 500px) {
	.btn {
		width: 36px;
		height: 45px;
		/* background-color: lightblue; */
	}
	.cell {
		width: 50px;
		height: 50px;
	}
}

@media only screen and (min-width: 375px) {
	.btn {
		width: 26px;
		height: 30px;
		/* background-color: lightblue; */
	}
	.cell {
		width: 40px;
		height: 40px;
	}
}
